#!/usr/bin/make -f

#export DH_VERBOSE = 1


%:
	dh $@

override_dh_auto_configure:
	export CXXFLAGS=-fPIC ; ./configure

override_dh_auto_install:
	$(MAKE) PREFIX=$$(pwd)/debian/cadical/usr ARCH=$(DEB_HOST_MULTIARCH) install
